<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
       @import url('https://fonts.cdnfonts.com/css/sf-ui-display?styles=16102');
       
       .sf-ui {
       	    font-family: 'SF UI Display', sans-serif;
       }
    </style>
  </head>
  <body class="bg-light sf-ui">
    <div class="container">
      <div class="card my-5" style="border-top-color:#ed144e; border-top-style:solid; border-top-width:4px;"> 
        <div class="card-body sf-ui">
          <h5 style="color:#ed144e;" class="text-center sf-ui">
          	{{app_name}}
          </h5>
          <h1 class="text-center sf-ui">Password Change Confirmation</h1>
          
          <p class="sf-ui">
            <br/>
            Dear <b>{{first_name}}</b>,
          </p>
          
          <p class="sf-ui">
            <br/>
          	This is to inform you that the password to your 
            <b>{{app_name}}</b> account was changed 
            at <b>{{time}}</b> on <b>{{date}}</b>. 
            </p>
          
          <p class="sf-ui">
            <br/>
          	If you did not initiate this password change, 
            please contact our 
            <a href='{{support_email}}'>
              support team
            </a> immediately.
          </p>
        
          <p class="sf-ui">
            <br/>
            Thank you.
          </p>

          <p class="sf-ui">
            <br/>
            The {{app_name}} Team!
          </p>
        </div>
      </div>
      <div class="text-center text-muted sf-ui">
          <div style="font-size:10pt;">
          	<a style="color:#ed144e;" href="https://web.facebook.com/contactcentre24">
          		Facebook
      		</a>
          	|
          	<a style="color:#ed144e;" href="https://www.instagram.com/contactcentre24">
          		Instagram
      		</a>
          	|
          	<a style="color:#ed144e;" href="https://www.twitter.com/contactcentre24">
          		Twitter
      		</a>
        </div>  
        <div class="text-muted sf-ui" style="font-size:8pt;">
          	You received this email because 
          	the password to your {{app_name}} 
          	account was changed.
      		<br/>
        	{{app_name}},<br/>
        	Lagos, Nigeria.
        </div>
      </div>
    </div>
  </body>
</html>