<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
       @import url('https://fonts.cdnfonts.com/css/sf-ui-display?styles=16102');
       
       .pink {
       		color:#ed144e;
       }
       
       .sf-ui {
       	    font-family: 'SF UI Display', sans-serif;
       }
    </style>
  </head>
  <body class="bg-light sf-ui">
    <div class="container">
      <div class="card my-5" style="border-top-color:#ed144e; border-top-style:solid; border-top-width:4px;"> 
        <div class="card-body sf-ui">
          <h5 class="text-center sf-ui pink">
          	{{app_name}}
          </h5>
          <h1 class="text-center sf-ui">
          	Password Reset Request Confirmation
          </h1>
          
          <p class="sf-ui">
            <br/>
            Dear <b>{{first_name}}</b>,
          </p>
          
          <p class="sf-ui">
            <br/>
          	Your email address was provided for a 
            password request reset. If you did not 
            request a password reset, please ignore 
            this email and your password will 
            remain unchanged.
          </p>
          
          <p class="sf-ui">
            <br/>
            To proceed with the password reset, 
            please click on 
            <a class="pink" 
                  href="{{password_reset_link}}">this link</a>.
          </p>
          
          <p class="sf-ui">
            <br/>
            Please note that the password reset link will 
            expire in {{timespan}}. If you require further 
            assistance, please contact our 
            <a class="pink" href='{{support_email}}'>
              support team</a>.
          </p>
        
          <p class="sf-ui">
            <br/>
            Thank you.
          </p>

          <p class="sf-ui">
            <br/>
            The {{app_name}} Team!
          </p>
        </div>
      </div>
      <div class="text-center text-muted sf-ui">
          <div style="font-size:10pt;">
          	<a style="color:#ed144e;" href="https://web.facebook.com/contactcentre24">
          		Facebook
      		</a>
          	|
          	<a style="color:#ed144e;" href="https://www.instagram.com/contactcentre24">
          		Instagram
      		</a>
          	|
          	<a style="color:#ed144e;" href="https://www.twitter.com/contactcentre24">
          		Twitter
      		</a>
        </div>  
        <div class="text-muted sf-ui" style="font-size:8pt;">
          	You received this email because 
          	the password to your {{app_name}} 
          	account was changed.
      		<br/>
        	{{app_name}},<br/>
        	Lagos, Nigeria.
        </div>
      </div>
    </div>
  </body>
</html>