name: Node.js App Deployment

on:
  push: 
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Deploy using ssh
        uses: appleboy/ssh-action@master
        with:
            host: ${{ secrets.HOST }}
            username: ${{ secrets.USERNAME }}
            key: ${{ secrets.PRIVATE_KEY }}
            port: 22
            script: |
              pm2 stop all
              cd ~/api
              git pull origin master
              git status
              npm install --only=prod
              pm2 start index.js --name contactcentre-api
              pm2 save
              pm2 restart all
              
      - name: Post-deployment cleanup (if needed)
        run: |
          # Any cleanup or final steps after deployment
          echo "Deployment completed"
